.bottom-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--main-grey);
  padding-bottom: 60px;
}

.bottom-nav__wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.bottom-nav__wrapper--justified {
  min-width: 50%;
  justify-content: space-between;
}

.bottom-nav__list {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
}

.bottom-nav__item {
  display: flex;
  align-items: flex-start;
  width: calc(100% / 3);
  margin-bottom: 8px;
}

.bottom-nav__link {
  font-size: 13px;
  text-decoration: none;
  color: var(--light-gray);
}

.bottom-nav__link:hover {
  text-decoration: underline;
}

.bottom-nav__form {
  justify-self: end;
  position: relative;
}

.bottom-nav__input-label {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: var(--light-gray);
}

.bottom-nav__input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 13px;
  padding: 15px 20px;
  background: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--light-gray);
  margin-bottom: 15px;
}

.bottom-nav__input::placeholder {
  color: var(--light-gray);
}

.bottom-nav__input:focus {
  box-shadow: 0 0 1px 2px var(--light-gray);
}

.bottom-nav__submit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 15px;
}

.bottom-nav__social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 25px;
}

.bottom-nav__social img{
  width: 15px;
  height: 15px;
  margin-left: 25px;
}
.bottom-nav__social img:first-of-type{
  margin-left: 0;
}